body{
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    overflow-x: hidden;
    color: $dark_text;
    background-color: rgba(242, 242, 242, 1);

     @media (min-width: $tablet) {
        font-size: 18px;
        line-height: 27px;
    }
}

section{
    padding: 30px 20px;

    @media (min-width: $laptop) {
        padding: 40px 0;
    }
}

*, *:after, *::before{
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 100%;

    @media (min-width: $tablet) {
        max-width: $laptop;
    }
}

.badge{
    padding: 8px 20px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    background-color: $black;
    display: inline-block;
    color: $white;
    margin-bottom: 17px;

    &--green{
        background-color: $green;
    }

    @media (min-width: $laptop) {
        font-size: 18px;
    }
}

h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0px;
    text-wrap: balance;

     @media (min-width: $laptop) {
        font-size: 54px;
        line-height: 70px;
    }
}

h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px; 
    letter-spacing: 0px;
    text-wrap: balance;

     @media (min-width: $laptop) {
        font-size: 36px;
        line-height: 70px;
    }
}

.desktop-only{
    display: none;
}

 @media (min-width: $tablet) {
    .mobile-only{
        display: none;
    }
    .desktop-only{
        display: block;
    }
 }


