$black: #000;
$dark_text: #1F1F1F;
$white: #fff;
$green: #2CB57D;
$yellow: #FFD11B;
$blue: #0076FD;

$font-family: 'Poppins';
$font-family-second: 'DM Serif Display';
$bold: 700;

$laptop: 1240px;
$tablet: 960px;