.accordion-slider{
    &__intro{
        text-align: center;

        .intro-heading{
            margin: 18px auto;
        }
    }

    .swiper {
        width: 393px;
        max-width: 100%;
        padding-bottom: 40px;

        &-pagination-bullet{
            width: 10px;
            height: 10px;
            background-color: rgba(#1F1F1F, 20%);

            &-active{
                background-color: rgba(#1F1F1F, 50%);
            }
        }

        &-slide{
            img{
                max-width: 100%;
            }
        }
    }

    &__accordion{
        .accordion {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 40px;
    
            .accordion-item {
                width: 100%;
                flex: 1;
                border-bottom: 1px solid rgba(217, 217, 217, 1);
                padding: 16px 0px;
                position: relative;
                cursor: pointer;
                outline: 0;
    
                &:first-child{   
                    border-top: 1px solid rgba(217, 217, 217, 1);
                }
    
                &.active {
                    .accordion-content {
                        max-height: 300px;
                    }
    
                    .accordion-toggle {
    
                        img{
                            transform: rotate(45deg);
                        }
                    }
                }
    
                .accordion-title {
                    text-wrap: balance;
                    color: $dark_text;
                    position: relative;
                }
    
                .accordion-content {
                    color: $dark_text;
                    line-height: 1.5;
                    max-height: 0;
                    overflow: hidden;
                    transition: all .3s;

                    p{
                        padding-top: 15px;
                    }
                }
    
                .accordion-toggle {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    width: 24px;
                    height: 24px;
                    
                    img{
                        transition: transform 0.3s;
                    }
                }
            }
        }
    }



    /* SCSS */
    .custom-pagination {
        display: flex;
        justify-content: space-between;
        background: rgba(232, 232, 232, 1);
        border-radius: 100px;
        padding: 2px;
        margin: 24px 0;
        max-width: 100%;
        margin-inline: auto;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        overflow: hidden;

        .pag-item {
            flex: 1;
            text-align: center;
            padding: 11px 12px;
            font-weight: 500;
            border-radius: 30px;
            line-height: 27px;
            cursor: pointer;
            transition: background 0.3s;
            position: relative;
            color: rgba($dark_text, 62%);

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 25%;
                height: 50%;
                width: 1px;
                background: #ccc;
            }

            &:last-child::after {
                display: none;
            }

            &.active {
                background: #fff;
                box-shadow: 2.33px 11.64px 13.97px 0px #0000000D;

                &::after {
                    display: none;
                }
            }

            &.before-active{
                &::after {
                    display: none;
                }
            }
        }
    }
    
    @media (min-width: $tablet){

        .container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        &__intro{
            order: 1;
            width: 100%;

            .intro-heading{
                line-height: 54px;
                margin: 23px 0 0;
            }
        }
        
        &__accordion{
            order: 2;
            width: 100%;

            .accordion{
                flex-wrap: nowrap;
                flex-direction: row;
                margin-top: 29px;
                justify-content: space-between;
                gap: 30px;

                .accordion-item{
                    display: block;
                    border: 0 !important;
                    cursor: default;
                    padding: 0;
                    width: calc(33% - 30px);
                    flex: none;

                    .accordion-toggle{
                        display: none; 
                    }

                    .accordion-title{
                        font-weight: $bold;
                        line-height: 27px;
                    }

                    .accordion-content{
                        display: block;
                        font-size: 18px; 
                        overflow: visible;
                        max-height: none !important;

                        p{
                            padding-bottom: 15px;
                        }
                    }
                }

            }
        }

        &__slider{
            order: 3;
            width: 100%;
        }

        .swiper {
            width: 960px;
        }

    }

    @media (min-width: $laptop){
        
        .swiper {
            width: 1240px;
            padding-bottom: 0;
        }

        .accordion-item{
            width: 360px;
        }
        
    }

    
}